# Variables

### Variables are reserved memory that stores data
variable is a reference to store the vale.

In [1]:
a=10
b='Hello'
a=11

In [7]:
a
b
a

11

In [7]:
subjects=['excel','Mysql','Excel','Machine_Learning']
for i in subjects:
    if i.upper()[0]=='M':
        print(i)

Mysql
Machine_Learning

In [13]:
subjects=['excel','Mysql','Excel','Machine_Learning']
for i in subjects:
    if i.lower()[0]=='e':
        print(i)

excel
Excel

# Variable Assignment

## Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols(special characters):

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`

In [1]:
1abc = 10 # not accepted number at starting position

SyntaxError: invalid decimal literal (2302223397.py, line 1)

In [2]:
ab c = 10 # not accepted with space use underscore

SyntaxError: invalid syntax (3474131235.py, line 1)

In [3]:
data@ = 12   # Not accepted because of special character

SyntaxError: invalid syntax (2239748686.py, line 1)

In [6]:
break = 1        # you should not use built-in function as a variable name you should avoid it

SyntaxError: invalid syntax (235156509.py, line 1)

In [7]:
global = 12               # Some of the built-in function like global will throw an error

SyntaxError: invalid syntax (1316020079.py, line 1)

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [1]:
students = 2

In [33]:
print(type(students))       # To check the datatype we use type()----type() is a function
print(id(students))  # id is noting but it is a memory location

<class 'int'>
140709616456520

In [3]:
students = 'I Love My Students'

In [5]:
students

'I Love My Students'

In [35]:
print(type(students))  # Class is a blueprint for an object (like real world entity has some properties or behaviour which is represented by class variable)
print(id(students))

<class 'str'>
2537479662256

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [23]:
a = 5

In [25]:
a

5

Here we assigned the integer object `5` to the variable name `a`.<br>Let's assign `a` to something else:

In [11]:
a = 10

In [13]:
a

10

You can now use `a` in place of the number `10`:

In [15]:
a = a + a
a

20

In [27]:
a+=a

In [29]:
a

10

In [31]:
name = "Jeevan Raj"
age = 26
height = 5.9
not_married = True

print('Name =',name)
print('Age =',age)
print('Height =',height)
print('Not Married =',not_married)

Name = Jeevan Raj
Age = 26
Height = 5.9
Not Married = True

In [33]:
name='Rohit'

In [35]:
name

'Rohit'

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.
We would only receive the second assigned value as the output, since that was the most recent assignment

In [ ]:
a = a + 10

In [ ]:
a

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=` we call it as assignment operator will learn deeper when we walk through operators.

In [48]:
a= 10

In [ ]:
a+=a

In [49]:
a

10

In [50]:
a += 10

In [51]:
a

20

In [52]:
a *= 2

In [53]:
a

40

In [54]:
b = 2

In [55]:
b*=2
b

4

In [1]:
Name = 'Jeevan'
Name = 'Jeean Raj'
print(Name)

Jeean Raj

#### You can connect a different value with a previously assigned variable very easily through simple reassignment

In [2]:
Name='Jeevan'
Datascientist=Name
print(Datascientist)

Jeevan

### Multiple Variable Assignment

In [39]:
marks = 90

print('Marks of Adarsh  = ',marks,'he is good student')

Marks of Adarsh  =  90 he is good student

In [41]:
print('Marks of Adarsh  = ',marks,'he is good student')

Marks of Adarsh  =  90 he is good student

In [71]:
info = 'student'
age = 25

In [73]:
print(f"Marks of Adarsh =  {marks} and he is a bright student and his age = {age} and he is my {info}")

Marks of Adarsh =  90 and he is a bright student and his age = 25 and he is my student

In [3]:
DataScientist = Trainer = Programmer = "Jeevan"
print('DataScientist =',DataScientist)
print('Trainer =',Trainer)
print('Programmer =',Programmer)

DataScientist = Jeevan
Trainer = Jeevan
Programmer = Jeevan

In [45]:
Name,Age,Gender = 'Jeevan',int('99'),'Male'
print('Name =',Name)
print('Age =',Age)
print('Gender =',Gender)

Name = Jeevan
Age = 99
Gender = Male

In [47]:
type(Age)

int

In [49]:
type(Name)

str

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [74]:
type(1)

int

In [75]:
type('info')

str

In [76]:
type(1.0)

float

In [77]:
type(True)

bool

In [80]:
type([212,44,'strings',2.34])

list

In [81]:
type((2,3,'strings'))

tuple

In [82]:
type(set())

set

In [85]:
type({'name' :['Jeevan','Ankur','raj']})

dict

In [ ]:
type(True)

In [ ]:
d={'a':12,'b':20,'a':40,'a':10}
d

In [ ]:
type(d)

In [ ]:
type(a)

In [ ]:
a = (1,2)

In [ ]:
type(a)

In [4]:
pp = int(3.5 + 2)
print(pp + "amazing".upper() + "!!")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
x = 4
y = 5
z = str(x * y + 2)
print(z + " is the result")

22 is the result

In [6]:
x = "5"
y = int(x) + 3
z = str(y * 2)
print(z + " is twice")

16 is twice

In [7]:
a = 15
b = 4
mod_result = a % b
print("Remainder is " + str(mod_result))

Remainder is 3

In [8]:
x = 8
y = 3
result = x // y
print("Integer division result is " + str(result))

Integer division result is 2

In [9]:
x = "3"
y = 7
z = int(x) + y
result = str(z * 2)
print(result + " is the doubled sum")

20 is the doubled sum

In [11]:
a = 9
b = 2
c = 4
result = (a + b) / c
print("Calculated value: " + result)

TypeError: can only concatenate str (not "float") to str

In [12]:
x = "7"
y = 5
z = x * y
print("Repeated string: " + z)

Repeated string: 77777

In [13]:
x = 5
y = 2.0
z = str(x + y) + "5"
print("Combined result: " + z)

Combined result: 7.05

In [14]:
x = 6
y = "3"
result = x // int(y) + float(y)
print("Mixed result: " + str(result))

Mixed result: 5.0