### What is Operator?
Ans: An operator is used to perform operations between two values or variables

### Different type of Operators in Python

1. Arithmetic Operator
2. Assignment Operator
3. Comparison Operator (Relational Operator)
4. Logical Operator
5. Membership Operator
6. Identity Operator
7. Bitwise Operator

### Arithmetic Operator: Arithmetic operators are used to perform arithmetic operations between variables
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Modulus (%)
6. Exponentiation (**)
7. Floor Division(//)

In [5]:
# Addition

x = 8
y = 6
print('Addition =',x+y)

Addition = 14

In [7]:
# Subtraction 
print('Subtraction =',x-y)

Subtraction = 2

In [9]:
# Multiplication 
print('Multiplication =',x*y)

Multiplication = 48

In [11]:
# Division                 # division will gives you the quotient
print('Division =',x/y)

Division = 1.3333333333333333

In [13]:
# Modulus                 # modulus will gives you the reminder
print('Modulus =',x%y)

Modulus = 2

In [15]:
# Exponentation
print('Exponentation =',x**y)

Exponentation = 262144

In [17]:
# Floor Division          # Divide first argument by the second and round the result down to the nearest whole number
print('Floor Division =',x//y)

Floor Division = 1

In [37]:
def even_odd(a):
    if a%2 == 0:
        print(f'{a} is Even Number')
    else:
        print(f'{a} is Odd Number')

In [39]:
even_odd(8)

8 is Even Number

In [41]:
a=[2,4,57,12,3,65,2,3,55]

In [ ]:
2 ---> Even Number
4 ---> Even Number
57 ---> odd Number

In [59]:
for i in a:
    if i%2 ==0:
        print(f'{i} ---> Even Number')
    else:
        print(f'{i} ---> Odd Number')

2 ---> Even Number
4 ---> Even Number
57 ---> Odd Number
12 ---> Even Number
3 ---> Odd Number
65 ---> Odd Number
2 ---> Even Number
3 ---> Odd Number
55 ---> Odd Number

In [ ]:
first $10000  0
Next $10000   10
The remaining 20 45000 tax 6000 ans

In [85]:
x = int(input('Enter The Amount:'))
if x<=10000:
    print('0 Interest')
elif x > 10000 and x <=20000:
    print('Interest :',(x-10000)*10/100)
else:
    print('Interest :',(x-20000)*20/100+10000*10/100)

Enter The Amount: 45000

Interest : 6000.0

In [93]:
def tax(Rohit_salary):
    if Rohit_salary<10000:
        print('Tax Free')
    elif Rohit_salary<20000:
        print((Rohit_salary - 10000)*0.1)
    else:
        print((10000 * 0) + (10000) * 0.1 + (Rohit_salary - 20000)*0.2)

In [95]:
tax(45000)

6000.0

1.write a query to print the student details who have scored greater than 50

In [97]:
info = {'student_details':['Rohit','Varun','Tarun'],'marks':[45,95,35]}
info

{'student_details': ['Rohit', 'Varun', 'Tarun'], 'marks': [45, 95, 35]}

In [99]:
{'student_details':['Rohit','Varun','Tarun'],'marks':[45,95,35]}

{'student_details': ['Rohit', 'Varun', 'Tarun'], 'marks': [45, 95, 35]}

In [101]:
dict(zip(info['student_details'],info['marks']))

{'Rohit': 45, 'Varun': 95, 'Tarun': 35}

In [105]:
for i,j in dict(zip(info['student_details'],info['marks'])).items():
    if j>50:
        print(i,j)

Varun 95

In [107]:
info.items()

dict_items([('student_details', ['Rohit', 'Varun', 'Tarun']), ('marks', [45, 95, 35])])

In [ ]:
2.write a query to print the fruits which are small  in size.

In [159]:
fruits = ['Apple','Mango','Grapes','banana']
properties = ['Small','SMALL','big','SmaLL']

In [161]:
info= {'fruits':fruits,'Properties':properties}
for i,j in dict(zip(info['fruits'],info['Properties'])).items():
    if j.lower() == 'small':
        print(i,j)

Apple Small
Mango SMALL
banana SmaLL

### Assignment Operator : Assignment operators are used to assign values (This is a Short Hand Writting)

1. =
2. +=
3. -=
4. *=
5. %=
6. **=
7. //=

In [17]:
# Example 

num1 = 10
num2 = 20
num3 = num1 + num2
print(num3)

30

In [18]:
# Now will see the example of assigment operators
num3 = num3 + num2        # Insted of writing like this we can use assigment operators 
print(num3)

50

In [19]:
# Insted of assigning separately we can use assignment operator for short hand writting
num3 += num2            # internaly it work like num3 = num3+num2
print(num3)

70

### Perform the same operation for rest of the operators

## Comparision Operators [Relationship Operator]
Comparision Operators are used to compare two values and Output of Comparision operator is always an Boolean value

# Type of Comparision Operators 
1. Equal-to (==)
2. Not Equal-to (!=)
3. Greater Than (>)
4. Less Than (<)
5. Greater Than or Equal-to (>=)
6. Less Than or Equal-to (<=)

In [166]:
x = 20
y = 25

In [168]:
# Equal-to
compare = x == y
print('comparing x is equal-to y =',compare)

comparing x is equal-to y = False

In [3]:
# Not Equal-to
compare = x != y
print('comparing x is not equal-to y =',compare)

comparing x is not equal-to y = True

In [4]:
# Greater Than
compare = x > y
print('comparing x is Greater Than y =',compare)

comparing x is Greater Than y = False

In [5]:
# Less Than
compare = x < y
print('comparing x is Less Than y =',compare)

comparing x is Less Than y = True

In [6]:
# Greater Than Equal-to
compare = x >= y
print('comparing x is Greater than or equal-to y =',compare)

comparing x is Greater than or equal-to y = False

In [7]:
# Equal-to
compare = x <= y
print('comparing x is Less Than or equal-to y =',compare)

comparing x is Less Than or equal-to y = True

In [170]:
a=5
b=10

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

## Logical Operators
Logical Operators are used to combine conditional statements

Will first understand what is conditional statements before going to logical operators  
Type of Conditional Statement in Python: 
Basically we have 3 Conditional Statements in Python
1. if
2. elif
3. else

In [24]:
if True:
    print('we are doing great')
else:
    print('worst')

we are doing great

In [25]:
if False:
    print('we are doing great')
else:
    print('i am doing double great')

i am doing double great

In [172]:
x = 20
y = 25

# Conditional Statement
if x == y:                
    print('Equal')
elif x > y:
    print('Greater')
else:
    print('Smaller')

Smaller

### Type of Logical Operators:
1. and (Logical and)
2. or (Logical or)
3. not (Logical not)

In [174]:
x=8

In [11]:
# Logical and operator
x > 5 and x > 4           # In Logical and operator both the condition should be True

True

In [13]:
# Logical or operator
x > 5 or x > 10            # In Logical or operator if any one of the condition should be True

True

In [176]:
# Logical not operator
not(x>5 and x>10)          # In Logical not operator it prints opposit of the given condition

True

## Identity Operators
Identity operators are used to compare objects   
1. is  --> returns True if both variables are same object
2. is not  ---> returns True if both variables are not same object

In [182]:
a=[1,2,3]
b=[1,2,3]

a is b

False

In [186]:
print(id(a),id(b))

2000473933248 2000473936000

In [184]:
print(id(a) == id(b))

False

In [190]:
c = a

In [192]:
print(id(a),id(c))

2000473933248 2000473933248

In [194]:
a is c

True

In [196]:
list1 = [10,20,30]
list2 = [10,20,30]

In [198]:
list3 = list1

In [200]:
list1 is list3

True

In [202]:
id(list1)== id(list2)

False

In [204]:
# Backend working of identity operator

if id(list1) == id(list2):
    print('list1 and list2 are storing in same memory location')
elif id(list2) == id(list3):
    print('list2 and list3 are storing in same memory location')
elif id(list1) == id(list3):
    print('list1 and list3 are storing in same memory location')

list1 and list3 are storing in same memory location

In [16]:
id(list1)

2485355475776

In [17]:
id(list2)

2485355588992

In [36]:
list3 = list1

In [37]:
# Is operator      # It prints True because it is storing in same memory location
list3 is list1

True

In [38]:
list3 is list2     # It prints False because it is not storing in same memory location

False

In [39]:
list3 is not list2     # Now it prints True

True

In [60]:
# Now will check for memory location 
print('Memory Location for list1 =',id(list1))
print('Memory Location for list2 =',id(list2))
print('Memory Location for list3 =',id(list3))

if id(list1) == id(list2):
    print('List1 mand list2 store in same memory location')
elif id(list2) == id(list3):
    print('List2 and list3 store in same memory location')
elif id(list1) == id(list3):
    print('List1 and list3 store in same memory location')

Memory Location for list1 = 2033695915776
Memory Location for list2 = 2035811657024
Memory Location for list3 = 2033695915776
List1 and list3 store in same memory location

## Membership Operators
Membership Operators are used to check if the certain value is present in a list    
1. in
2. not in

In [28]:
list1 = [2,4,23,5]
a=19

In [30]:
24 in list1       # it will check if 19 is present in list1 or not if it is not present it return False else it prints True

False

In [70]:
b = 5

b in list1       # you can see 5 is present in list1 so it is printing as True

True

## Bitwise Operators
Bitwise operators are used to compare binary numbers

Type of Bitwise Operators
1. Bitwise AND (&)   -- Sets each bit to 1 if both bits are 1
2. Bitwise OR (|)    -- Sets each bit to 1 if one of the bits is 1
3. Bitwise XOR (^)   -- Sets each bit to 1 if only one of the bits is 1
4. Bitwise NOT (~)   -- Inverts all bits
5. Left Shift (<<)   -- Shift left by pushing in zeros from the right and let the leftmost bits fell off
6. Right Shift (>>)  -- shift right by pushing copies of the leftmost bit by adding zero

In [40]:
10 & 12

8

In [82]:
# Example for bit wise and(&) operator
print(bin(10))
print(bin(12))

0b1010
0b1100

In [41]:
# You can cross verify the output
int(0b1000)

8

In [72]:
10 | 12

14

In [84]:
# Example for bit wise or(|) operator
print(bin(10))
print(bin(12))

0b1010
0b1100

In [85]:
# You can cross verify the output
int(0b1110)

14

In [109]:
# Example for Bitwise XOR (^) operator
10^12

6

In [110]:
print(bin(10))
print(bin(12))

0b1010
0b1100

In [111]:
# You can cross verify the output
int(0b0110)

6

In [114]:
~10

-11

In [116]:
# The presence of the most significant bit is used to express negative integers. Bitwise NOT (~) -- Inverts all bits
-(10+1)      # it performs -(x+1)

-11

In [117]:
~-6

5

In [118]:
-(-6+1)

5

In [73]:
# right shift
10 >> 2

2

In [86]:
# right shift  
print(bin(10))

0b1010

In [98]:
# after shifting right for 2 place
print(int(0b10))

2

In [74]:
# left shift
10 << 2

40

In [101]:
# right shift  
print(bin(10))

0b1010

In [102]:
# after shifting left" for 2 place
print(int(0b101000))

40