In [1]:
name,salary,company=input("enter the name:"),float(input("enter the salary:")),input("enter the company name:")
print("name:",name,"\nsalary:",salary,"\ncompany:",company)

enter the name: Rohit
enter the salary: 45000
enter the company name: Imarticus

name: Rohit
salary: 45000.0
company: Imarticus

In [2]:
a=int(input("enter the value of int"))
b=float(input("enter the value of float"))
sum=a+b
print(sum)
print(type(sum))

enter the value of int23
enter the value of float23.46
46.46
<class 'float'>

using split function    
syntax=.split()

In [3]:
name,age,marks=input("enter the name,enter the age,enter the marks").split("/")
print("name:",name,"\nage:",age,"\nmarks:",marks)

enter the name,enter the age,enter the markskiran/26/100
name: kiran
age: 26
marks: 100

In [4]:
type(age)

str